@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
    
}

body {
    background-attachment: fixed;
    opacity: .95;
    background-color: rgba(255, 153, 0, 0.699);
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}


menu{
    color: black;
}
